.breadcrumbs {
  @include list-unstyled;
  display: flex;
}

.breadcrumbs__item:not(:last-of-type) {
  position: relative;
  padding-right: 30px;

  &::after {
    content: "";

    position: absolute;
    top: 50%;
    right: 8px;

    width: 12px;
    height: 12px;

    background-image: url("../img/icon-chevrons-right.svg");
    transform: translateY(-50%);
  }
}

.breadcrumbs__link {
  color: $basic-extra-dark;
  transition: 0.3s;

  &:hover {
    opacity: 0.6;
  }
}
