.breadcrumbs {
  @include list-unstyled;
  display: flex;
}

.breadcrumbs__item:not(:last-of-type) {
  position: relative;
  padding-right: 30px;

  &::after {
    position: absolute;
    content: "";

    width: 12px;
    height: 12px;

    top: 50%;
    right: 8px;
    transform: translateY(-50%);

    background-image: url("../img/icon-chevrons-right.svg");
  }
}

.breadcrumbs__link {
  color: $basic-extra-dark;

  &:hover {
    opacity: 0.6;
  }
}
