.button {
  padding: 12px 32px;

  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
  color: $basic-extra-dark;

  background-color: $basic-white;
  border: 4px solid rgba($color: $special-light, $alpha: 0.6);
  border-radius: 26px;

  box-shadow: 0px 4px 12px rgba($color: $basic-extra-dark, $alpha: 0.1);

  &:hover:not(:disabled) {
    background-color: rgba($color: $basic-white, $alpha: 0.4);
    border: 4px solid $basic-white;
    box-shadow: 0px 4px 15px rgba(133, 133, 133, 0.15);
  }

  &:disabled {
    font-weight: 400;

    color: $basic-neutral;
    background-color: $basic-light;
    border: 4px solid rgba($color: $basic-white, $alpha: 0.4);
  }
}

.button--special {
  color: $basic-white;
  background-color: $special-extra-bright;
  border: 4px solid rgba($color: $basic-white, $alpha: 0.6);

  &:hover:not(:disabled) {
    color: $basic-extra-dark;
    background-color: rgba($color: $basic-extra-light, $alpha: 0.4);
    border: 4px solid $special-extra-bright;
  }

  &:disabled {
    color: $basic-dark;
    background-color: $basic-neutral;
    border: 4px solid rgba($color: $basic-neutral, $alpha: 0.3);
  }
}

.button-small {
  padding: 8px 50px;
  font-weight: 700;

  background-color: rgba($color: $basic-extra-light, $alpha: 0.3);
  border: 2px solid $basic-extra-light;
  border-radius: 20px;

  &:hover:not(:disabled) {
    background-color: $basic-extra-light;
    border-color: rgba($color: $special-light, $alpha: 0.6);
  }

  &:disabled {
    opacity: 0.4;
  }
}

.button-close {
  width: 20px;
  height: 20px;

  border: none;
  background-color: transparent;
  background-image: url("../img/icon-cross.svg");
  background-repeat: no-repeat;
  background-position: center;

  &:hover {
    opacity: 0.6;
  }
}
