.card {
  position: relative;
  box-sizing: border-box;
  padding: 40px;

  width: 270px;
  min-height: 280px;

  background-color: $basic-white;
  border-radius: 8px;
}

.card__image {
  position: absolute;

  top: -55px;
  left: 50%;
  transform: translateX(-50%);
}

.card__title {
  margin: 0;
  margin-top: 95px;
  margin-bottom: 10px;

  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
}

.card__description {
  margin: 0;
  margin-bottom: 20px;

  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.card__buy {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__price {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.card__button {
  display: inline-block;
  cursor: pointer;

  width: 32px;
  height: 32px;

  border-radius: 50%;
  border: 2px solid transparent;
  background-color: $special-extra-bright;
  background-image: url("../img/icon-cart-light.svg");
  background-repeat: no-repeat;
  background-position: center;

  &:hover {
    background-color: $basic-white;
    background-image: url("../img/icon-cart-dark.svg");
    border-color: $special-extra-bright;
  }

  &--disabled {
    background-color: $basic-neutral;
    background-image: url("../img/icon-cart-dark.svg");
  }
}
