.cart {
  @include list-unstyled;

  display: flex;
  flex-direction: column;

  border-bottom: 1px solid $basic-light;
}

.cart__item {
  margin-bottom: 25px;
  display: grid;
  grid-template-columns: 62px 163px 100px 15px;
  align-items: center;
}

.cart__image {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
}

.cart__title {
  margin: 0;

  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.cart__price {
  margin: 0;
  grid-column: 2 / 3;

  font-size: 14px;
  line-height: 20px;
  color: $basic-neutral;
}

.cart__total {
  margin: 0;
  grid-row: 1 / 3;
  grid-column: 3;

  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.cart__button-delete {
  grid-row: 1 / 3;
  grid-column: 4;
}

.cart__order {
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart__order-total {
  margin: 0;

  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}
