.catalog-filter {
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  font-size: 14px;
  line-height: 20px;
}

.catalog-filter__group {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  margin-right: 25px;

  border: none;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.catalog-filter__name {
  margin-bottom: 8px;
  margin-left: 15px;
}

.catalog-filter__sort {
  width: 196px;
  padding: 8px 16px;

  border: none;
  border-radius: 20px;
  background-color: rgba($color: $basic-extra-light, $alpha: 0.3);
  background-image: url("../img/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 10px center;

  appearance: none;
}

.catalog-filter__price {
  padding: 0;
  width: 35px;

  text-align: center;

  border: none;
  background-color: transparent;
  appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }
}

.catalog-filter__list {
  @include list-unstyled;

  padding: 10px 16px;
  display: flex;

  border-radius: 20px;
  background-color: rgba($color: $basic-extra-light, $alpha: 0.3);
}

.catalog-filter__item:not(:last-of-type) {
  margin-right: 15px;
}

.catalog-filter__button {
  align-self: flex-end;
}

.filter-control {
  position: relative;
  padding-left: 25px;
}

.filter-control__mark {
  position: absolute;
  left: 0;
  top: 50%;

  width: 16px;
  height: 16px;
  box-sizing: border-box;

  border: 2px solid $basic-extra-dark;
  border-radius: 2px;
  transform: translateY(-50%);

  &--radio {
    border-radius: 50%;
  }
}

.filter-control__input[type="radio"]:checked + .filter-control__mark::before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  width: 6px;
  height: 6px;

  border-radius: 50%;
  background-color: $basic-extra-dark;
  transform: translate(-50%, -50%);
}

.filter-control__input[type="checkbox"]:checked + .filter-control__mark {
  border: none;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 16px;
    height: 16px;

    background-image: url("../img/icon-check-on.svg");
  }
}

.range {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 196px;
  height: 36px;

  border-radius: 20px;
  background-color: rgba($color: $basic-extra-light, $alpha: 0.3);
}

.range__scale {
  position: relative;

  width: 164px;
  height: 2px;

  background-color: rgba($color: $basic-extra-dark, $alpha: 0.3);
}

.range__bar {
  position: absolute;
  height: 2px;

  background-color: $basic-extra-dark;
}

.range__toggle {
  position: absolute;
  top: -6px;

  width: 16px;
  height: 16px;

  border: none;
  border-radius: 50%;
  background-color: $basic-extra-dark;

  &::after {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;

    width: 4px;
    height: 4px;

    border-radius: 50%;
    background-color: $basic-extra-light;
    transform: translate(-50%, -50%);
  }

  &--max {
    right: 0;
  }
}
