.form-field {
  padding: 15px;
  box-sizing: border-box;

  font-size: 16px;
  line-height: 20px;
  color: $basic-extra-dark;

  border: 1px solid $basic-neutral;
  border-radius: 4px;
  transition: 0.3s;

  &::placeholder {
    color: $basic-neutral;
  }

  &:hover {
    border-color: $basic-extra-dark;

    &::placeholder {
      color: $basic-extra-dark;
    }
  }

  &:disabled {
    background-color: $basic-neutral;

    &::placeholder {
      color: $basic-extra-dark;
    }
  }

  &--error {
    border: 1px solid $special-error;

    &::placeholder {
      color: $special-error;
    }

    &:hover {
      border: 1px solid $special-error;
    }
  }
}
