.login-form__group {
  margin-bottom: 15px;
}

.login-form__field {
  width: 100%;
}

.login-form__wrapper {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.login-form__button {
  margin-right: 25px;
}

.login-form__link {
  color: inherit;
  font-size: 14px;
  line-height: 20px;
}
