.modal {
  box-sizing: border-box;
  position: relative;
  margin: auto;
  padding: 64px;

  border-radius: 8px;
  background-color: $basic-extra-light;

  &--feedback {
    width: 570px;
  }
}

.modal__close {
  position: absolute;
  top: 30px;
  right: 30px;

  width: 20px;
  height: 20px;

  border: none;
  background-color: transparent;
  background-image: url("../img/icon-cross.svg");
  background-repeat: no-repeat;
  background-position: center;

  &:hover {
    opacity: 0.6;
  }
}
