.navigation {
  @include container;

  display: flex;
  align-items: center;
  padding-top: 25px;
}

.navigation__logo {
  flex-shrink: 0;
  margin-right: 30px;
}

.navigation__list {
  @include list-unstyled;
  display: flex;
}

.navigation__tel {
  @include link;

  margin-left: auto;
  margin-right: 30px;

  font-family: $font-semibold;
}
