.navigation {
  @include container;

  display: flex;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 0;
}

.navigation__logo {
  flex-shrink: 0;
  margin-right: 30px;

  &:hover {
    opacity: 0.6;
  }
}

.navigation__list {
  @include list-unstyled;
  display: flex;
}

.navigation__tel {
  @include link;

  margin-left: auto;
  margin-right: 30px;

  font-weight: 600;

  &:hover {
    opacity: 0.6;
  }
}
