.pagination {
  @include list-unstyled;
  display: flex;
  align-items: center;
}

.pagination__item:not(:last-of-type) {
  margin-right: 20px;
}

.pagination__link {
  @include link;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;

    width: 24px;
    height: 24px;

    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
  }

  &:hover::before {
    border: 1px solid $basic-extra-light;
    background-color: rgba($color: $basic-extra-light, $alpha: 0.3);
  }

  &--current::before {
    background-color: $basic-extra-light;
  }

  &--disabled {
    opacity: 0.2;
  }

  &--prev {
    display: block;
    width: 16px;
    height: 16px;

    background-image: url("../img/arrow-left-dark.svg");
  }

  &--next {
    display: block;
    width: 16px;
    height: 16px;

    background-image: url("../img/arrow-right-dark.svg");
  }
}
