.popover {
  display: none;

  position: absolute;
  box-sizing: border-box;

  background-color: $basic-extra-light;
  border-radius: 4px;

  top: 50px;
  right: 0;

  &--search {
    width: 356px;
    padding: 20px;
  }

  &--login {
    width: 420px;
    padding: 50px;
  }

  &--basket-empty {
    width: 288px;
    padding: 50px;
  }
}

.popover__title {
  margin: 0;

  font-size: 24px;
  line-height: 30px;
  font-weight: 700;

  &--search {
    margin-bottom: 30px;
  }

  &--basket-empty {
    text-align: center;
  }
}
