.popover {
  position: absolute;
  top: 50px;
  right: 0;
  z-index: 1;

  // display: none;
  opacity: 0;
  box-sizing: border-box;

  background-color: $basic-extra-light;
  border-radius: 4px;

  transform: translate3d(0,-10px,0);
  transition: all 0.4s;

  &--search {
    width: 356px;
    padding: 20px;
  }

  &--login {
    width: 420px;
    padding: 50px;
  }

  &--cart-full {
    width: 441px;
    padding: 50px;
  }

  &--cart-empty {
    width: 288px;
    padding: 50px;
  }
}

.popover__title {
  margin: 0;

  font-size: 24px;
  line-height: 30px;
  font-weight: 700;

  &--search,
  &--cart {
    margin-bottom: 30px;
  }

  &--cart-empty {
    text-align: center;
  }
}
