// Цвета
$basic-extra-dark: #2d3440;
$basic-dark: #565c66;
$basic-neutral: #b9b9b9;
$basic-light: #e7e7e7;
$basic-extra-light: #fcfcfc;
$basic-white: #ffffff;
$special-extra-bright: #ff2f64;
$special-bright: #ff4a78;
$special-neutral: #ff7799;
$special-light: #feafc3;
$special-extra-light: #ffcbd8;
$special-cold: #69a9ff;
$special-warm: #fcc850;
$special-error: #ea5454;

// Ширины
$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;

// Ретина
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
